.idea/
Deprecated/
Info/
NewColorSegmentation/
Parameters_estimation/
Sampling/
Triangular_meshing/
Viewers/
datasets/
nohup.out
rectify_dataset/
references/
scripts4video/
segmentation/
mybackup/
Ericks_system/plantinator_ai_v2.1.py
Ericks_system/yolov3_training_last.weights
Ericks_system/images/
SeedlingClassifier/__py*
SeedlingClassifier/seedling_area_only.py
SeedlingClassifier/seedling_measurements.py
SeedlingClassifier/SeedlingOnlySegmentation.py
__py*
